#clockTitle{
    font-size: 50px;
    text-align: center;   
}

.head{/*WEB크게 써있는거*/
    font-size: 60px;

    text-align: center;
    border-bottom:1px solid gray;
    margin: 5px;
    /*padding:20px;*/
}
.body{
    border: gray 1px solid;
    
    
}
.form,
.greeting{
    display: none;
    text-align: center;
    font-size: 30px;
    
}
.showing{
    display: block;
}
html{
    background-size: cover;
    background-position: center top;
}
